.project {
  display: grid;
  align-content: initial;
  margin: 0 auto 0 auto;
}

.project:last-child {
  margin-bottom: 0;
}

.description {
  grid: 1;
  padding-left: 15px;
}

.name {
  padding: 0;
}

.excerpt {
  margin: 0;
  font-size: medium;
}
