.Layout {
  margin: 0 auto;
  padding: 2px;
  padding-top: 1px;
  display: flex;
}

/* on both */
html,
body {
  overflow-x: hidden;
  display: flex;
}
body {
  background: url('../assets/images/background.png');
  background-size: cover;
}
section {
  box-sizing: border-box; /* or not */
  margin: 0 auto;
  /* max-width: 1024px; */
  background: white;
  padding: 0.25px;
  padding-top: 0.25px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
